<!-- templates/users/register.html -->
{{% extends 'home/base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>
            <div class="form-group">
                {{ form.address.label_tag }}
                {{ form.address }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>

        <h2>Вы уже зарегистрированы?</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="login_username">Имя пользователя:</label>
                <input type="text" id="login_username" name="login_username" required>
            </div>
            <div class="form-group">
                <label for="login_password">Введите пароль:</label>
                <input type="password" id="login_password" name="login_password" required>
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
{% endblock %}